.top-nav-container {
    display: flex;
    justify-content: flex-end;
    margin-top: auto;
    padding-top: 5rem;

    .top-nav-item {
        margin-left: 15px;
        margin-right: 15px;
    }
}

.App {
    margin-right: 5%;
    margin-left: 5%;
}

body {
    background-color: #fffcf0;
}